[data-theme='light'] .DocSearch {
    --docsearch-primary-color: #5749CE;
    --docsearch-muted-color: var(--ifm-color-secondary-darkest);
    --docsearch-container-background: rgba(56, 58, 61, 0.6);
    --docsearch-modal-background: #FAFAFA;
    --docsearch-searchbox-background: #F3F4F5;
    --docsearch-searchbox-focus-background: #FFFFFF;
    --docsearch-hit-color: #121214;
    --docsearch-hit-active-color: #FFFFFF;
    --docsearch-hit-background: #FFFFFF;
    --docsearch-footer-background: #FFFFFF;
}

[data-theme='dark'] .DocSearch {
    --docsearch-primary-color: #9084FF;
    --docsearch-text-color: #FFFFFF;
    --docsearch-muted-color: #6A6E73;
    --docsearch-container-background: rgba(0, 0, 0, 0.7);
    --docsearch-modal-background: #16171A;
    --docsearch-searchbox-background: #000000;
    --docsearch-searchbox-focus-background: #000000;
    --docsearch-hit-color: #FFFFFF;
    --docsearch-hit-active-color: #FFFFFF;
    --docsearch-hit-background: #141414;
    --docsearch-footer-background: #16171A;
    --docsearch-key-gradient: linear-gradient(
            -26.5deg,
            var(--ifm-color-emphasis-200) 0%,
            var(--ifm-color-emphasis-100) 100%
    );
}
